{% extends "base.html" %}

{% block head %}
<title>BinChe2</title>
{% endblock %}

{% block body %}
<h1>Welcome to BinChe2</h1>
<p>This is the homepage of the BinChe2 web application.</p>
<p>You can insert your study set below.</p>
<p>Example submission:
    CHEBI_77030, CHEBI_79036
</p>

<form action = "/submission" method = "POST">
    <h4>Input Study Set:</h4>
    <textarea name = "study_set" rows="20" cols="100" placeholder="Enter your study set here"></textarea>

    <h4>Specify target of enrichment:</h4>
    <label>
        <input type="radio" name="classification" value="structural" required> 
        Structure
    </label><br></br>
    <label>
        <input type="radio" name="classification" value="functional"> 
        Role
    </label><br></br>
    <label>
    <input type="radio" name="classification" value="full">
        Both
    </label><br></br>
    
    <button type = "submit">Submit</button>
</form>
<h3>About Selecting Target of Enrichment</h3>
<p>
    ChEBI structure classification: The structure classification describes a molecular entity based on its composition and/or the connectivity between its constituent atoms.
    <br></br>
    ChEBI role classification: The role classification describes the role of a molecular entity within a biological context and/or its intended use by humans.
    <br></br>
    ChEBI structure and role classification: The structure and role classification is the union of both classifications. Note that the structure classification is significantly larger than the role classification.
    <br></br>
</p>
<!-- The text above is copied directly from Binche ReadMe-->
<p>Your selected target of enrichment has to include your study set for correct calculations.</p>


{% endblock %}

